{% extends 'base.html'%}

{% block content %}
<main role="main"> 
    <hr>
    <div class="row">
        <div class="col-md-7">
                <h3 class="mb-5">Blog Posts</h3>
                {% for post in posts.items %}   
                <article class="media content-section">
                    <img class="rounded-circle article-img mt-1 ml-1 mr-1"  style="height: 90px; width: 90px" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="">
                    <div class="media-body mt-5">
                        <div class="article-metadata">
                            <a class="mr-2" href="{{url_for('.user_posts', username=post.author.username)}}">{{ post.author.username }}</a>
                            <small class="text-muted">Posted on {{ post.date_posted.strftime('%b %d, %Y, %T') }}</small>
                        </div>
                        <hr>
                        <h4><a class="article-title" href=" {{ url_for('main.post', post_id=post.id) }}">{{ post.title }}</a></h4>
                        <p class="article-content">{{ post.content | truncate(100) }}</p>
                    </div>
                </article>
                 <hr>
                <br>
                {% endfor %}

                {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if posts.page == page_num %}
                            <a class="btn btn-info mb-4" href=" {{url_for('.index', page=page_num)}} "> {{ page_num }} </a>
                        {% else %}
                            <a class="btn btn-outline-info mb-4" href=" {{url_for('.index', page=page_num)}} "> {{ page_num }} </a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
        </div>

        <div class="col-md-5">
            <div class="content-section">
                <h3 class="mb-5">Sidebar</h3>
                <p class='text-muted'>You can put any information here you'd like here.
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Latest Posts</li>
                        <li class="list-group-item list-group-item-light">Announcements</li>
                        <li class="list-group-item list-group-item-light">Calendars</li>
                    </ul>
                </p>
                <button class="btn btn-md btn-info"><a class="nav-item nav-link active"  style="color: #cbd5db; font-weight: 500; text-align: center" href="{{url_for('main.new_post')}}">Add Blog</a></button> 
            </div>
        </div>
    </div>
</main>
<br>
<h4 style="text-align: center">Refresh the page to get random quotes!</h4>
<div class="card">
        <h4 class="card-header">Quote by {{ quote.author }}</h4>
        <p class="card-body">{{ quote.quote }}</p>
    </div>
<hr>
<p style="text-align: center;" class="text-muted">Copyright &copy; 2019, Gideon Muriithi</p>
    <br>
{% endblock %}